html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

#message{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#message .vegetacao{
    width: 100%;
    height: 100vh;
    margin-top: 38vh;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vegetacao .rio{
    height: 30vh;
    border-radius: 10px;
    width: 50%;
    object-fit: cover;
}

.vegetacao .textos{
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 10px;
    margin-left: 15%;
    height: 58vh;
    width: 70%;
    margin-top: -18vh;
    display: flex;
    text-align: left;
    justify-content: space-around;
}

.textos p{
    font-weight: 200;
    padding-top: 5vh;
}

.textos .texto_left{
    width: 30%;
    color: rgb(234, 234, 234);
    margin-top: 22vh;
}
.textos .texto_right{
    width: 30%;
    color: rgb(234, 234, 234);
    margin-top: 22vh;
}