nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    top: -1vh;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    z-index: 500;
}

.navigation {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    width: 600px;
    height: 10vh;
    display: block;
    top: -1vh;
    justify-content: space-around;
    align-items: center;
}

.bgColor{
    background-color: rgb(255, 255, 255);
    transition: all 1s;
}

.bgColor .logo{
    filter: invert();
}

.bgColor .navigation{
    filter: invert();
}

.bgColor .btn_cad{
    filter: invert();
}

.bgColor .menu_ham{
    filter: invert();
}

.logo {
    height: 15vh;
}

.navigation ul {
    display: flex;
    width: 550px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 130px;
    height: 120px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 120px;
    font-size: 1.6em;
    text-align: center;
    transition: 0.5s;
    color: white;
}

.navigation ul li.active a .icon {
    transform: translateY(25px);
}

.navigation ul li a .text {
    position: absolute;
    color: white;
    font-weight: 300;
    font-size: 0.90em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(-3vh);
}


.indicator {
    position: absolute;
    top: 119%;
    left: 3.5%;
    width: 70px;
    height: 1px;
    transition: .5s;
    background-color: white;

}



.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(110px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(110px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(110px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(110px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(110px * 4));
}






























.navbar-container {
    display: flex;
    position: relative;
    height: 64px;
    width: 10%;
    padding-left: 1%;
    align-items: center;
}

.navbar-container input[type="checkbox"] {
    display: none;
}

.navbar-container .hamburger-lines {
    position: relative;
    height: 23px;
    width: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

.navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}



.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(35deg);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-35deg);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line {
    background-color: #000;
}

#itens-menu{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

#itens-menu .itens-menu-left{
    width: 50%;
    height: 100vh;
    background-color: #000;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

#itens-menu .itens-menu-right{
    width: 50%;
    height: 100vh;
    background-color: #fff;
    transform: translateX(100%);
    transition: all .5s ease-in-out;
}

@media screen and (max-height: 660px) {
    .navigation ul li a .icon {
        font-size: 1.3em;
    }

    .navigation ul li.active a .icon {
        transform: translateY(17px);
    }
    .indicator{
        top: 110%;
    }
}