@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700;800;900&family=Raleway:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700;800;900&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;

  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000;
  }

:root {
    --crl: #000000;
}

:root {
    --background: #f8f8f8;
    --dark: #000;
}


#animacao {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    animation: remover_abertura 1ms ease-in forwards;
}

.box {
    position: relative;
    background-color: var(--dark);
    border: solid 0.25rem var(--dark);
    height: 50rem;
    width: 50rem;
    outline: 0;
    overflow: none;
}

.box::before {
    content: '';
    background-image: url(/html/logo_preenchida_branco.png);
    background-position: center;
    background-size: 120%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -50%;
    background-color: black;
    height: 160%;
    width: 160%;
    border-radius: 40%;
    animation: spin 11s ease-in-out forwards;
}


@keyframes spin {
    0% {
        transform: translateY(0%) rotate(0deg);
    }

    100% {
        transform: translateY(-200%) rotate(1800deg);
    }
}

#animacao img {
    transform: scale(100%);
    position: fixed;
    z-index: 900;
    animation: remover_z-index 10s ease-in-out forwards;
}

#animacao .progress-bar {
    position: fixed;
    display: flex;
    top: 43em;
    width: 500px;
    height: 3em;
    background-color: #fff;
    border-radius: 1.5em;
    color: white;
}

#animacao .progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #000;
    border-radius: 1em;
    padding: 1em;
}

@keyframes remover_abertura {
    0% {
        transform: scale(100%);
        opacity: 100%;
        display: block;
    }

    100% {
        transform: scale(500%);
        opacity: 0;
        display: none;
        z-index: 0;
        visibility: hidden;
    }
}

@keyframes remover_z-index {
    0%{
        z-index: 900;
    }
    100%{
        z-index: 0;
    }
}


body {
    justify-content: center;
    background-image: url("../img/BG_Final.png");
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
}


#inicio {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding-top: 4vh;
}

#inicio .content_inicio p {
    color: #f8f8f8;
    font-size: 3em;
    font-style: italic;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

#inicio .content_inicio h1 {
    font-weight: 800;
    color: #f8f8f8;
    font-family: 'Montserrat', sans-serif;
    font-size: 10em;
    letter-spacing: 1vh;
    line-height: 80%;
    text-transform: uppercase;
}

#regioes {
    width: 100%;
    height: 300vh;
    background-color: white;
    margin-top: 30px;
    flex: 0 0 auto;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
}


#regioes .cima {
    width: 100%;
    text-align: center;
}

#regioes .cima .escolha {
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    margin-left: -14%;
    color: black;
    letter-spacing: .3em;
    line-height: 130px;
    text-transform: uppercase;
}

#regioes .cima .regiao {
    text-transform: uppercase;
    color: black;
    font-size: 130px;
    letter-spacing: 10px;
    line-height: 20px;
}

#regioes .baixo {
    margin-top: 10vh;
}

#regioes .baixo .left{
    width: 50%;
    padding: 0 15vh;
}

#regioes .baixo .left .flip-card-container{
    margin-top: 30vh;
}

#regioes .baixo .left .flip-card-container:nth-child(1){
    margin-top: 0;
}

#regioes .baixo .right{
    width: 50%;
    padding: 0 15vh;
}

#regioes .baixo .right .flip-card-container{
    margin-top: 30vh;
}

#regioes .baixo .right .flip-card-container:nth-child(1){
    margin-top: 40vh;
}


#economia {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    background-color: rgba(26, 26, 26, 0.5);
    animation: fade 1s ease-in alternate;
    padding-top: 15vh;
}

#economia .left {
    width: 40%;
}

#economia .right {
    width: 40%;
}

#economia h1 {
    color: white;
    font-size: 80px;
}

#economia p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
}


#ong {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ong .content{
    width: 75vw;
    height: 70vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#ong .content .left{
    width: 50%;
    height: 100%;
}

#ong .content .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#ong .content .right{
    background-color: #FFF;
    width: 50%;
    height: 100%;
    padding: 20% 5%;
    text-align: start;
}

#ong .content .right h1{
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

#ong .content .right .buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 10vh;
}

#ong .content .right button{
    width: 52vh;
    height: 7vh;
    border: solid #000 1px;
    border-radius: 60px;
    text-transform: uppercase;
    transition: all .5s ease-in-out;
}

#ong .content .right button:hover{
    background-color: #000;
    border: none;
    color: #fff;
}

#pontos {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pontos .left{
    width: 60vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#pontos .left form{
    background-color: #FFF;
    width: 30vw;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5vh 3vw;
    justify-content: space-around;
}

#pontos .left form input{
    background-color: rgb(234, 234, 234);
    width: 20vw;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vw;
    border: none;
    outline: none;
}

#pontos .left form input[type="submit"]{
    background-color: rgb(0, 0, 0);
    color: #FFF;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    width: 20vw;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    outline: none;
}

#pontos .left form textarea{
    resize: none;
    background-color: rgb(234, 234, 234);
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding-left: 5%;
}

#pontos .right{
    width: 40vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    bottom: -6vh;
    left: 0;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 70px;
    line-height: 3vh;
    text-align: center;
    transition: .5s all ease-in-out;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    font-weight: 200;
    text-align: center;
    margin-left: -35px;
}

footer a {
    font-size: .9em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    padding-right: 10px;
    color: #FFF;
    text-decoration: none;

}

footer .links {
    background-color: #000000;
    padding-bottom: 5px;
}

footer a:hover {
    text-decoration: underline;
    opacity: 75%;
    transition: .3s;
}

footer a::after {
    content: '|';
    padding-left: 10px;
}

footer a:last-child::after {
    content: '';
}

footer a:last-child {
    content: none;
    padding-right: 0;
}

footer:hover {
    cursor: pointer;
    bottom: 0;
}




@media screen and (max-height: 660px) {
    footer {
        bottom: -6vh;
    }

    footer:hover {
        cursor: pointer;
        bottom: -2vh;
    }


    #regioes .cima {
        width: 100%;
        margin-top: 7vh;
    }

    #regioes .cima .escolha {
        font-size: 25px;
        margin-left: -16%;
        line-height: 110px;
    }

    #regioes .cima .regiao {
        font-size: 110px;
    }

    #economia {
        padding-top: 10vh;
    }

    #economia h1 {
        color: white;
        font-size: 3em;
    }

    #economia p {
        font-size: 10px;
        font-weight: 200;
    }
}


@media screen and (max-height: 696px) {
    #economia {
        padding-top: 10vh;
    }

    #economia h1 {
        color: white;
        font-size: 4em;
    }

    #economia p {
        font-size: 17px;
        font-weight: 200;
    }
}