*{
    margin: 0;
    padding: 0;
}

body{
    height: 200vh;
}

.bg{
    background-image: url('../img/bg.png');
    background-size: cover;
    height: 600px;
}

.navbar{
    position: fixed;
    padding: 30px;
    width: 100%;
    color: white;
}

li{
    display: inline;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.bgColor{
    background-color: white;
    color: black;
    border-bottom: solid 1px lightgray;
    transition: all 1s;
}