@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700;800;900&family=Raleway:wght@300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    scroll-behavior: smooth;
}
:root{
    --crl: #000000;
}

body{
    justify-content: center;
    min-height: 100vh;
    background-image: url("bg2.png");
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}



.content{
    display: flex;
    -webkit-overflow-scrolling: touch;
}

#home{
    width: 100%;
    margin-top: 30px;
    flex: 0 0 auto;
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#home .cima{
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

#home .cima .escolha{
    font-size: 40px;
    margin-left: -220px;
    color: white;
    letter-spacing: 7px;
    text-transform: uppercase;
}
#home .cima .regiao{
    text-transform: uppercase;
    color: white;
    font-size: 140px;
    letter-spacing: 10px;
    line-height: 20px;
}

#home .baixo{
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

#home .baixo{
    display: flex;
    justify-content: space-around;
}

#home .baixo .norte{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('img_estados/norte.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12%;
    height: 35vh;
    object-fit: contain;
    border-radius: 20px;
}
#home .baixo .norte h2{
    color: white;
    text-align: center;
    padding-top: 110%;
    text-transform: capitalize;
}

.norte:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;
}

#home .baixo .nordeste{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('img_estados/nordeste.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12%;
    height: 35vh;
    object-fit:contain;
    border-radius: 20px;
}
#home .baixo .nordeste h2{
    color: white;
    text-align: center;
    padding-top: 110%;
    text-transform: capitalize;
}
.nordeste:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;
}

#home .baixo .centro{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('img_estados/centro.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12%;
    height: 35vh;
    object-fit:contain;
    border-radius: 20px;
}
#home .baixo .centro h2{
    color: white;
    text-align: center;
    padding-top: 110%;
    text-transform: capitalize;
}
.centro:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;
}

#home .baixo .sudeste{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('img_estados/sudeste.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12%;
    height: 35vh;
    object-fit:contain;
    border-radius: 20px;
}
#home .baixo .sudeste h2{
    color: white;
    text-align: center;
    padding-top: 110%;
    text-transform: capitalize;
}
.sudeste:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;
}

#home .baixo .sul{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url('img_estados/sul.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 12%;
    height: 35vh;
    object-fit:contain;
    border-radius: 20px;
}
#home .baixo .sul h2{
    color: white;
    text-align: center;
    padding-top: 110%;
    text-transform: capitalize;
}
.sul:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: all 0.3s ease-in-out;
}



#profile{
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    flex: 0 0 auto;
}
#profile h1{
    color: #ff7f00;
}
#profile p{
    font-family: 'Open Sans', sans-serif;
    color: beige;
}

#message{
    margin-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    flex: 0 0 auto;
}
#message h1{
    color: #ff7f00;
}
#message p{
    font-family: 'Open Sans', sans-serif;
    color: beige;
}

a:visited{
    fill: none;
}