@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700;800;900&family=Raleway:wght@300;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

#main{
    background-image: url('bg.png');
    background-repeat: no-repeat;
    text-align: center;
}
#main h1{
    transform: rotate(-3deg);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    margin-bottom: -45px;
    text-shadow: rgb(0, 0, 0) 15px 15px 25px;
    background-size: cover;
    border-radius: 30px;
    animation-duration: 1s;
    position: relative;
    z-index: 10;
}
#main #bandeira{
    height: 500px;
    z-index: 0;
}

.buttons{
    position: relative;
}

.buttons a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 650;
}

#sinopse{
    position: relative;
    top: -470px;
    left: 260px;
}

#dados{
    position: relative;
    top: -279px;
    left: -32px;
}

#geografia{
    position: relative;
    top: -119px;
    left: -192px;
}

#hidrografia{
    position: relative;
    top: -10px;
    left: -159px;
}

#clima{
    position: relative;
    top: -20px;
    left: -70px;
}

#cultura{
        position: relative;
        top: -40px;
        left: 50px;
}

#economia{
    position: relative;
    top: -190px;
    left: 120px;
}

#governo{
    position: relative;
    top: -317px;
    left: -50px;
}

#historia{
    position: relative;
    top: -425px;
    left: -195px;
}





@media screen and (max-width: 1920px){
    #sinopse{
        left: 160px
    }
    #dados{
        left: -10px
    }
    #geografia{
        left: -100px
    }
    #hidrografia{
        left: -120px
    }
    #clima{
        left: -15px
    }
    #cultura{
        left: 120px
    }
    #economia{
        left: 195px
    }
    #governo{
        left: 40px
    }
    #historia{
        left: -90px
    }
}


.animate__zoomIn{
    animation-delay: 1s;
}

.text {
    position: relative;
    font-size: 25px;
    text-transform: capitalize;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
  
  .text::before {
    content: attr(data-fill-text);
    position: absolute;
    width: 0;
    height: 100%;
    color: #fff;
    -webkit-text-stroke: 0px transparent;
    overflow: hidden;
    transition: width 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .text:hover::before {
    width: 100%;
  }


.sinopse{
    width: 100%;
}

.sinopse p{
    width: 40%;
}

.geografia p{
    width: 40%;
}